@using Microsoft.Ajax.Utilities
@using OPA.BusinessLogic
@**
    *  Copyright 2018 Andrew Franqueira
    *
    *  This file is part of OPA.
    *  Licensed under GNU General Public License 3.0 or later.
    *  Some rights reserved. See COPYING.
    *
    *  @license GPL-3.0+ <http://spdx.org/licenses/GPL-3.0+>
*@

@{
    ViewBag.Title = "System Administration";
}

<h1>@ViewBag.Title</h1>
<hr />

<div id="main-content">
    <div class="col-md-6">
        <h2>People &amp; Organizations</h2>
        <p>@Html.ActionLink("List People", "Index", "People", null, new {@class = "btn btn-default"})</p>
        <p>@Html.ActionLink("List Organizations", "Index", "Organization", null, new {@class = "btn btn-default"})</p>
        <br/>
        <h2>Financials</h2>
        @if (!Utilities.StripeKey.IsNullOrWhiteSpace() || !Utilities.SquareKey.IsNullOrWhiteSpace())
        {
            <p>@Html.ActionLink("Electronic Payments", "Index", "Payment", null, new {@class = "btn btn-default"})</p>
        }
        <p>@Html.ActionLink("Batch Donations", "BatchDonations", "Financial", null, new {@class = "btn btn-default"})</p>
        <p>@Html.ActionLink("List Donations", "Donations", "Financial", null, new {@class = "btn btn-default"})</p>
        <p>@Html.ActionLink("List Pledges", "Pledges", "Financial", null, new {@class = "btn btn-default"})</p>
        <br/>
    </div>

    <div class="col-md-6">
        @if (ViewBag.IsOwnerAdmin)
        {
            <h2>Administrator Functions</h2>
            <p>@Html.ActionLink("Manage Users", "ManageUsers", "Manage", null, new { @class = "btn btn-default" })</p>
            <p>@Html.ActionLink("Manage Value Sets", "ValueSets", "Home", null, new { @class = "btn btn-default" })</p>
            <p>@Html.ActionLink("Don't Panic", "GetRawData", "Home", null, new { @class = "btn btn-default" })</p>
            <p>@Html.ActionLink("View Log", "LogFile", "Home", null, new { @class = "btn btn-default" })</p>
            <br />
        }

        @if (!Utilities.DonationOrgAcctUrl.IsNullOrWhiteSpace() || !Utilities.StripeKey.IsNullOrWhiteSpace() || !Utilities.SquareKey.IsNullOrWhiteSpace())
        {
            <h2>Payment Processors</h2>
        }
        @if (!Utilities.DonationOrgAcctUrl.IsNullOrWhiteSpace())
        {
            <p><a href="@Utilities.DonationOrgAcctUrl" target="_blank" class="btn btn-default">Donation Platform</a></p>
        }
        @if (!Utilities.StripeKey.IsNullOrWhiteSpace())
        {
            <p><a href="https://dashboard.stripe.com" target="_blank" class="btn btn-default">Stripe</a></p>
        }
        @if (!Utilities.SquareKey.IsNullOrWhiteSpace())
        {
            <p><a href="https://squareup.com" target="_blank" class="btn btn-default">Square</a></p>
        }
    </div>
</div>