@**
    *  Copyright 2018 Andrew Franqueira
    *
    *  This file is part of OPA.
    *  Licensed under GNU General Public License 3.0 or later.
    *  Some rights reserved. See COPYING.
    *
    *  @license GPL-3.0+ <http://spdx.org/licenses/GPL-3.0+>
*@

@using OPA.Entities
@model List<OPA.Models.ValueSetViewModel>

@{
    ViewBag.Title = "Internal Value Sets";
}

<h1>@ViewBag.Title</h1>
<hr/>

<div id="main-content">
    
    @foreach (var set in Model)
    {
        <div class="col-md-4">
            <h3>@set.Set.GetDisplay()</h3>

            <table id="@set.Set-values" class="table table-responsive valuesets">
                <thead>
                <tr>
                    <th class="hidden">Order</th>
                    <th class="hidden">Id</th>
                    <th>Value</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var value in set.Values)
                {
                    <tr>
                        <td class="hidden">@value.Order</td>
                        <td class="hidden">@value.Id</td>
                        <td class="reorder option">@value.Option</td>
                        <td class="fit">
                            @using (Html.BeginForm("DeleteValue", "Home", null, FormMethod.Post, new { style = "display: inline-block" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", value.Id)
                                <button type="submit" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-minus half-font" aria-hidden="true"></span>
                                </button>
                            }
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot>
                    <tr>
                        <td class="hidden"></td>
                        <td class="hidden"></td>
                        <td colspan="2" class="fit">
                            <a href="@Url.Action("CreateValue", "Home", new { set = set.Set } )" class="btn btn-success pull-right modal-link">
                                <span class="glyphicon glyphicon-plus half-font" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">
        $(document).ready(function () {

            $(".valuesets").DataTable({
                searching: false,
                paging: false,
                info: false,
                rowReorder: { selector: "td.option" },
                columnDefs: [{ "orderable": false, "targets": [2, 3] }]
            });

            var url = '@Url.Action("UpdateRow", "Home")';

            $(".valuesets").on("row-reorder.dt", function (event, data) {
                for (var i = 0, ien = data.length ; i < ien ; i++) {
                    var rowData = $(this).DataTable().row(data[i].node).data();
                    $.ajax({
                        type: "GET",
                        cache: false,
                        contentType: "application/json; charset=utf-8",
                        url: url,
                        data: { id: rowData[1], newPos: data[i].newData },
                        dataType: "json"
                    });
                }
            });
        });
    </script>
}