@**
    *  Copyright 2018 Andrew Franqueira
    *
    *  This file is part of OPA.
    *  Licensed under GNU General Public License 3.0 or later.
    *  Some rights reserved. See COPYING.
    *
    *  @license GPL-3.0+ <http://spdx.org/licenses/GPL-3.0+>
*@

@model OPA.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
}

<h1>@ViewBag.Title</h1>
<hr />

<div class="col-md-6">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "password-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
            <div class="col-md-8">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", data_toggle = "tooltip", title = "Passwords must be at least 6 characters: include uppercase, lowercase, and a number." })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Change password" class="btn btn-default" />
                </div>
            </div>
    }
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("[data-toggle='tooltip']").tooltip();

            $.extend(jQuery.validator.messages, { equalTo: "The passwords entered do not match." });

            $("#password-form").validate({
                rules: {
                    OldPassword: { required: true },
                    NewPassword: { required: true },
                    ConfirmPassword: { required: true, equalTo: "#NewPassword" }
                }
            });
        });
    </script>
}
