@**
    *  Copyright 2018 Andrew Franqueira
    *
    *  This file is part of OPA.
    *  Licensed under GNU General Public License 3.0 or later.
    *  Some rights reserved. See COPYING.
    *
    *  @license GPL-3.0+ <http://spdx.org/licenses/GPL-3.0+>
*@

@model IEnumerable<OPA.Models.CoupleViewModel>

@{
    ViewBag.Title = "Couples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="pull-right">
    @Html.ActionLink("Create a couple", "Create", null, new { @class = "btn btn-default" })
</p>

<h1>@ViewBag.Title</h1>
<hr />

<table id="couples" class="table table-hover">
    <thead>
        <tr>
            <th>Husband</th>
            <th>Wife</th>
            <th>@Html.DisplayNameFor(model => model.Active)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Husband.LastName),
                    @Html.DisplayFor(modelItem => item.Husband.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wife.LastName),
                    @Html.DisplayFor(modelItem => item.Wife.FirstName)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Active)</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })</td>
            </tr>
        }
    </tbody>

</table>


@section Scripts {
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#couples").dataTable({
                pageLength: 25,
                dom: "<'pull-left'f>t<'pull-left'l>p",
                language: { search: "_INPUT_", searchPlaceholder: "Search..." },
                columnDefs: [{ "orderable": false, "targets": [2, 3] }]
            });
        });
    </script>
}