@**
    *  Copyright 2018 Andrew Franqueira
    *
    *  This file is part of OPA.
    *  Licensed under GNU General Public License 3.0 or later.
    *  Some rights reserved. See COPYING.
    *
    *  @license GPL-3.0+ <http://spdx.org/licenses/GPL-3.0+>
*@

@model OPA.Models.PledgeViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 class="modal-title">Edit Pledge</h3>
</div>

<div class="modal-body">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "pledge-form" }))
            {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.PersonId)

            <div class="form-group">
                @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.Year, (List<SelectListItem>)ViewBag.YearList, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    <div>
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Frequency, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <div>
                        @Html.DropDownListFor(model => model.Frequency, (List<SelectListItem>)ViewBag.FrequencyList, "", new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fund, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <div>
                        @Html.DropDownListFor(model => model.Fund, (List<SelectListItem>)ViewBag.FundList, "", new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#pledge-form").validate({
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            },
            rules: {
                Amount: { required: true, number: true, min: .01 },
                Frequency: { required: true },
                Fund: { required: true }
            }
        });
    });
</script>